exportPattern("^[[:alpha:]]+")
import(dplyr)
import(sf)
importFrom("grDevices", "dev.new")
importFrom(magrittr,"%>%")
importFrom(terra, "click")
importFrom(terra, "plot")
importFrom(terra, "rast")
importFrom(utils, "read.csv")
